<VirtualHost *:{{ wp_mw_role_vhost_port }}>
  ServerAdmin webmaster@localhost
  ServerName {{ wp_mw_role_vhost_name }}
  ServerAlias www.{{ wp_mw_role_vhost_name }}
  DocumentRoot {{ wp_mw_role_vhost_webroot }}/wordpress/
  ErrorLog {{ apache_log_dir }}/error.log
  CustomLog {{ apache_log_dir }}/access.log combined

  <Directory {{ wp_mw_role_vhost_webroot }}/wordpress>
    Options -Indexes
  </Directory>

  <IfModule mod_dir.c>
    DirectoryIndex index.php index.html index.cgi index.pl  index.xhtml index.htm
  </IfModule>

</VirtualHost>
